.loadBtn {
  font-size: 18px;
  font-family: cursive;
  text-transform: uppercase;
  border: 2px solid #333;
  border-radius: 40px;
  background: none;
  padding: 10px 50px;
  transition: 0.8s;
  cursor: pointer;
  margin-top: 30px;
}
.loadBtn:hover {
  transition: 0.8s;
  background-color: #333;
  color: white;
}
.status {
  font-size: 18px;
  font-family: cursive;
  margin: 30px;
  text-align: center;
}
